section.section.hero_section
	.hero_section__img
		+picture("/img/hero_img.png", "Композитные материлы")
	.hero_section__lines
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1954 1247.5">
			<g id="hero_lines" transform="translate(-836.5)">
				<line id="Линия_1" data-name="Линия 1" y2="1247" transform="translate(837)" fill="none" stroke="#485860" stroke-width="1"/>
				<line id="Линия_2" data-name="Линия 2" y2="1247" transform="translate(1266)" fill="none" stroke="#485860" stroke-width="1"/>
				<line id="Линия_3" data-name="Линия 3" x2="1841" transform="translate(837 290)" fill="none" stroke="#485860" stroke-width="1"/>
				<line id="Линия_4" data-name="Линия 4" y2="957" transform="translate(1512 290)" fill="none" stroke="#485860" stroke-width="1"/>
				<line id="Линия_5" data-name="Линия 5" x2="1841" transform="translate(837 865)" fill="none" stroke="#485860" stroke-width="1"/>
				<line id="Линия_7" data-name="Линия 7" y2="1149" transform="translate(2114.5 98.5)" fill="none" stroke="#485860" stroke-width="1"/>
				<line id="Линия_8" data-name="Линия 8" y1="575" x2="602" transform="translate(1512.5 290.5)" fill="none" stroke="#485860" stroke-width="1"/>
				<path id="Контур_1" data-name="Контур 1" d="M153,0a153,153,0,0,1,0,306" transform="translate(1962 291)" fill="none" stroke="#485860" stroke-width="1"/>
				<g id="Многоугольник_3" data-name="Многоугольник 3" transform="translate(1263.839 950.42) rotate(-60)" fill="none">
				<path d="M99.5,0,199,173H0Z" stroke="none"/>
				<path d="M 99.5 2.005767822265625 L 1.728744506835938 172 L 197.2712554931641 172 L 99.5 2.005767822265625 M 99.5 0 L 199 173 L 0 173 L 99.5 0 Z" stroke="none" fill="#485860"/>
				</g>
				<g id="Многоугольник_4" data-name="Многоугольник 4" transform="translate(2528.5 864)" fill="none">
				<path d="M171.481,0l65.5,47.555L262,124.5l-25.019,76.945L171.481,249H90.519l-65.5-47.555L0,124.5,25.019,47.555,90.519,0Z" stroke="none"/>
				<path d="M 90.84346008300781 1 L 25.86927795410156 48.1729736328125 L 1.051544189453125 124.5 L 25.86927795410156 200.8269958496094 L 90.84346008300781 247.9999694824219 L 171.156494140625 248 L 236.1306915283203 200.8269958496094 L 260.9484558105469 124.5 L 236.1306915283203 48.17300415039062 L 171.156494140625 1 L 90.84346008300781 1 M 90.51876831054688 0 L 171.481201171875 0 L 236.981201171875 47.55476379394531 L 262 124.5 L 236.981201171875 201.4452362060547 L 171.481201171875 249 L 90.51876831054688 248.9999694824219 L 25.01876831054688 201.4452362060547 L 0 124.5 L 25.01876831054688 47.55473327636719 L 90.51876831054688 0 Z" stroke="none" fill="#485860"/>
				</g>
				<circle id="Эллипс_4" data-name="Эллипс 4" cx="6" cy="6" r="6" transform="translate(2109 859)" fill="#8196a0"/>
				<circle id="Эллипс_10" data-name="Эллипс 10" cx="6" cy="6" r="6" transform="translate(2109 591)" fill="#8196a0"/>
				<circle id="Эллипс_5" data-name="Эллипс 5" cx="6" cy="6" r="6" transform="translate(1506 285)" fill="#8196a0"/>
				<circle id="Эллипс_6" data-name="Эллипс 6" cx="6" cy="6" r="6" transform="translate(1260 284)" fill="#8196a0"/>
				<line id="Линия_22" data-name="Линия 22" x1="273" y2="262" transform="translate(1841.5 603.5)" fill="none" stroke="#485860" stroke-width="1"/>
				<circle id="Эллипс_2" data-name="Эллипс 2" cx="6" cy="6" r="6" transform="translate(1507 859)" fill="#8196a0"/>
				<circle id="Эллипс_3" data-name="Эллипс 3" cx="6" cy="6" r="6" transform="translate(2109 284)" fill="#8196a0"/>
			</g>
		</svg>
	.site-container
		.main_title.hero_section__title
			h1
				span
					| Завод
				|  композитных материалов ARMGLASS
			p
				strong
					| Производство продукции
					br
					| со сроком службы 80 лет Изделия в 8 раз
				|  легче металла и на 58% дешевле

		button.btn.button-reset.hero_section__button.js_el-add-tarnsition
			span
				| Получить прайс

		ul.hero_section__list
			li.hero_section__list_item
				p
					strong
						| В наличии 100 км арматуры
						br
					|  любого диаметра
			li.hero_section__list_item
				p
					strong
						| Сертификация СМК
						br
					|  по стандарту ISO 9001
			li.hero_section__list_item
				p
					strong
						| Арматура соответствует
						br
					|  ГОСТ 31938-2012
	.hero_section__feautures
		.site-container
			.hero_section__feautures_inner
				.hero_section__feautures_text
					h2
						span
							| Лидер по производству
						|  композитной арматуры и сетки в РФ
				.hero_section__feautures_text2
					p
						strong
							| Выпускаем сертифицированную продукцию
						|  прочнее металла и
						| удобнее при доставке и монтаже
